:root {
  --text-light-1: rgb(60, 60, 67);
  --text-light-2: rgba(60, 60, 67, .75);
  --border-color: rgba(60, 60, 67, .12);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  background-color: rgba(144, 147, 153, .3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, .5);
}

body {
  @apply overflow-y-scroll w-screen h-screen
  leading-[24px] font-normal text-[var(--text-light-1)]
  text-[16px]
}

.tooltip {
  @apply py-[6px] px-[10px] bg-[#757575] text-[#fafafa] font-normal 
  text-[10px] rounded-[4px]
}

