::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  background-color: rgba(144, 147, 153, .3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, .5);
}

body {
  overflow-x: hidden;
}

.btn {
  @apply cursor-pointer bg-blue-500 text-white px-4 py-2
}

.tooltip {
  @apply py-[6px] px-[10px] bg-[#757575] text-[#fafafa] font-normal 
  text-[10px] rounded-[4px]
}
